[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggcorrheatmap"]
	path = ggcorrheatmap
	url = https://github.com/leod123/ggcorrheatmap
